body(class=d.baseClasses)
  != area.mainContent
  if d.styles && d.styles.body
    for style in d.styles.body
      link(href=(d.rootPath + style) rel='stylesheet')
  if d.scripts && d.scripts.body
    for script in d.scripts.body
      script(src=(d.rootPath + script))
