head
  title Title
  meta(value='keywords' content='bleech stack, stack, bleech')
  if d.styles && d.styles.head
    for style in d.styles.head
      link(href=(d.rootPath + style) rel='stylesheet')
  if d.scripts && d.scripts.head
    for script in d.scripts.head
      script(src=(d.rootPath + script))
  // CONSTRUCTION_PLAN_PLACEHOLDER
