// @font-face
//   font-family: 'FontName'
//   src: url('~assets/fonts/fontfilename.eot')
//   src: url('~assets/fonts/fontfilename.eot?#iefix') format('embedded-opentype'),
//        url('~assets/fonts/fontfilename.woff') format('woff'),
//        url('~assets/fonts/fontfilename.ttf')  format('truetype'),
//        url('~assets/fonts/fontfilename.svg')  format('svg')
//   font-weight: normal

// @font-face
//   font-family: 'FontName'
//   src: url('~assets/fonts/fontfilename.eot')
//   src: url('~assets/fonts/fontfilename.eot?#iefix') format('embedded-opentype'),
//        url('~assets/fonts/fontfilename.woff') format('woff'),
//        url('~assets/fonts/fontfilename.ttf')  format('truetype'),
//        url('~assets/fonts/fontfilename.svg')  format('svg')
//   font-weight: bold
