// Font Colors
$font-color-primary = #fff
$font-color-secondary = #ccc

$font-family = Verdana, sans-serif
$font-icon = Allstar, Verdana, sans-serif

// Bootstrap Breakpoints
$bs-screen-xs-max = unquote('screen and (max-width: 767px)')
$bs-screen-sm-max = unquote('screen and (max-width: 991px)')
$bs-screen-md-max = unquote('screen and (max-width: 1199px)')
$bs-screen-lg-min = unquote('screen and (min-width: 1200px)')
